
.gallery{
    float: left;
    width: 180px;
    border: 1px solid #cfcfcf;
    margin: 5px;
}
.gallery:hover{
    border: 1px solid #333;
}
.gallery img{
    width: 100%;
    height: auto;
}
.description{
    padding: 15px;
    text-align: center;
}