.container{
    background-color: aquamarine;
    display: grid;
    border: 4px solid black;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    
    
}
.items{
    background-color: chocolate;
    font-size: 4rem;
    margin: 10px;
    padding: 10px;
    text-align: center;
    

}

.items:nth-child(1){
     grid-row-start: 1;
     grid-row-end: 4;
     grid-column-start: 1;
     grid-column-end: 5;
}
.items:nth-child(2){
    grid-area: 5 / 1 / 7 / 7 ;
}