/* .trans{
    height: 400px;
    width: 300px;
    border: 5px solid seagreen;
    transform: rotate3d(90deg,120deg,150deg)
} */
/* .div{
    height: 100px ;
    width: 100px;
    background-color: saddlebrown;
    transition: width 2s
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: saddlebrown;
   transition: width 2s linear 1s ;
    margin: 10px;
    

}
.div1{
    transition-timing-function: linear;
}

.div2{
    transition-timing-function: ease;
}

.div3{
    transition-timing-function: ease-in;
}

.div4{
    transition-timing-function: ease-out;
}

.div5{
    transition-timing-function: ease-in-out;
}
.div6{
    transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)  ;
}

div:hover{
    width: 300px;
   
} */


div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: demo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear; */
    animation: demo 5s linear infinite alternate;

}

@keyframes demo{
    /* from{
        background-color: red;
    }
    to{
        background-color: green;
    } */
     0%{
        background-color: red;
        left: 0px;
        top: 0px;
     }
     25%{
        background-color: yellow;
        left: 200px;
        top: 0px;
     }
     50%{
        background-color: aqua;
        left: 200px;
        top: 200px;
     }
     75%{
        background-color: blue;
        left: 0px;
        top: 200px;
     }
     100%{
        background-color: red;
        left: 0px;
        top: 0px;
     }

}